[database]
hostname = {{ dbconn.host }}
username = {{ dbconn.username }}
password = {{ dbconn.password }}
dbname = {{ dbconn.dbname }}

[environment]
environment = {{ app.env }}

[prefs]
color  = {{ fav.color }}
fruit  = {{ fav.fruit }}
car    = {{ fav.car }}
laptop = {{ fav.laptop }}
